body{
  background-color: #F8F8F8 !important;
}

.project img{
  height : 280px;
  border-radius: 20%;
}

.description{
  padding-top:30px;
  margin-botton:0px;
}

.image{
  margin-top:10px;
  margin-bottom: 0px;
}
