body{
  background-color: #F8F8F8 !important;
}

#project1,#project4,#project7{
}

#project2,#project5,#project8{
  margin-left: 0px;
  padding-left: 0px;

}

#project3,#project6,#project9{
  margin-left: 0px;
  padding-left: 0px;

}

.col-md-4{
  height: 350px;
  margin:0px;
  padding:0px;
}

.projectPost{
  height:99%;
  width:99%;
  margin : 0;
}

#project4 img{
  height: 60%;
  width : 60%;
  opacity:0.9;
}
