
body{
  background-color: #F8F8F8 !important;
}
.image{
    height : 300px;
    width : 300px;
  }

.image img{
  height : 265px !important;
  width : 250px !important;
  border-radius: 50%;

}
.introduction{
  height:250px;
  width : 400px;
  margin : 0 auto;
  font-family: 'Cuprum', sans-serif;
}

.introduction-text{
  font-size:50px;
  color:#c3c3c3;
}

#name{
  color : #AB8E4A;
}

.introduction-text2{
  font-size:30px;
}

.container-fluid img{
  height:50px;
  width:50px;
  display: block;
  margin: 0 auto;
}
.skillElectronics{
  margin:10px;
  padding : 10px
}

.skillProgramming{
  margin: 10px;
  padding:10px;
}

.skill{
  font-family: 'Proza Libre', sans-serif;
  font-size:30px;
}
.container-skills{
  width:80%;
}
