
body{
  background-color: #F8F8F8 !important;
}
.image{
    height : 300px;
    width : 300px;
  }

.image img{
  height : 265px;
  width : 250px;
  border-radius: 50%;

}
.introduction{
  height:250px;
  width : 400px;
  margin : 0 auto;
}



#arduino img{
  height:75px;
  width : 75px;
  display: block;
  margin: 0 auto;
}
#raspberryPi img{
  height: 75px;
  width : 75px;
  display: block;
  margin: 0 auto;
}


#nodeMcu img{
  height:75px;
  width:75px;
  display: block;
  margin: 0 auto;
}

#frontEnd img{
  height:75px;
  width:75px;
  display: block;
  margin: 0 auto;
}
