body{
  border : 0;
  padding : 0;
  background-color: #8b9597;
}
.mainBody{
  width : 1800px;
  height : 1000px;
}

.image{
    width : 60%;
    height : 100%;
    float : left;
    padding : 0px;
    border : 0;
    bakground-color : red;
}

.myphoto{
  width : 100%;
  height : 100%;
padding : 0;
border: 0;
border-radius : 5%;
}

.mainContent{
  width:35%;
  height: 100%;
  float:right;
}
